<h1 class="display-1"><%= @building.name.capitalize %> <%= render partial: 'partials/level', locals: { tier: @building.tier, level: @building.level } %></h1>
<blockquote class="blockquote">
    <p class="mb-0"><%= @building.description %></p>
</blockquote>
<% if @building.collect? %>
    <% @building.collect_info.each do |collect_info| %>
        <p class="display-4"><%= collect_info.resource.name.capitalize %></p>
        <div class="row">
            <div class="col-md-8">
                <%= render partial: 'partials/progressbar',
                           locals: { min: collect_info.quantity.to_f,
                                     max: collect_info.capacity.to_f } %>
            </div>
            <div class="col-md-4">
                <%= link_to 'Collect ' + collect_info.resource.name,
                            building_collect_path(@building.name, collect_info.resource.name),
                            class: 'btn btn-primary btn-block', method: :post %>
            </div>
        </div>
    <% end %>
<% end %>
<% unless @building_tier.nil? %>
    <div class="jumbotron" style="margin-top: 50px">
        <h2>Upgrade informations</h2>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p>Require resources for next upgrade:</p>
                <ul class="list-group">
                    <% @building_tier.each do |resource| %>
                        <li class="list-group-item justify-content-between">
                            <%= resource.name %>
                            <%= render partial: 'partials/resources_quantities',
                                       locals: { require_quantity: resource.quantity,
                                                 actual_quantity: @chief.quantity_of(resource.name) } %>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="offset-md-4 col-md-4">
                <%= link_to 'Upgrade', building_upgrade_path(@building.name), class: 'btn btn-success btn-block', method: :post %>
            </div>
        </div>
    </div>
<% end %>