<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <li class="breadcrumb-item"><a href="<%= buildings_index_path %>">Buildings</a></li>
    <li class="breadcrumb-item active"><%= @building.name %></li>
</ol>

<h1><%= @building.name %></h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <h2>Description</h2>
        <p><%= @building.description %></p>
    </div>
    <div class="col-md-6">
        <h2>Informations</h2>
        <p>Maximum: <%= @building.maximum %></p>
        <p>Special: <% if @building.special? %>true<% else %>false<% end %></p>
    </div>
</div>

<hr>

<h2>Levels</h2>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <% @building.tiers.each do |tier| %>
        <div class="card">
            <div class="card-header" role="tab" id="heading<%= tier.number %>">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= tier.number %>" aria-expanded="true" aria-controls="collapse<%= tier.number %>">
                        Level <%= tier.number %>
                    </a>
                </h5>
            </div>

            <div id="collapse<%= tier.number %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= tier.number %>">
                <div class="card-block">
                    <% if tier.primary_resources.any? %>
                        <p>
                            Primary Resources:
                            <% tier.primary_resources.each do |needed| %>
                                <span class="badge badge-primary"><%= needed.require.name %> : <%= needed.number %></span>
                            <% end %>
                        </p>
                    <% end %>
                    <% if tier.buildings.any? %>
                        <p>
                            Buildings:
                            <% tier.buildings.each do |needed| %>
                                <span class="badge badge-primary"><%= needed.require.name%> : <%= needed.number %></span>
                            <% end %>
                        </p>
                    <% end %>
                    <% if tier.technologies.any? %>
                        <p>
                            Technologies:
                            <% tier.technologies.each do |needed| %>
                                <span class="badge badge-primary"><%= needed.require.name %> : <%= needed.number %></span>
                            <% end %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>